<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/style/home.css" />
    <title>Vaccine - Fairness and Equity</title>
</head>
<body>
    <header>
        <div class="container">
            <nav id="nav-bar">
                <ul style="list-style: none;">
                    <li>
                        <a style="font-weight: bolder; color: #1c3461;" href="{{url_for('home')}}">Vaccine - Fairness & Equity</a>
                    </li>
                    <li>
                        <a class="nav-link active" href="{{url_for('home')}}">Home</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{{url_for('form')}}">Get Vaccinated</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{{url_for('info')}}">Vaccine Info</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="landing-page">
            <img class="hero-image" src="../static/style/images/background.png">
            <div class="about">
                <img src="../static/style/images/logo.png">
                <button onclick="document.getElementById('intro').scrollIntoView();">Explore our project</button>
            </div>
        </div>
        
        <hr>
        <h2 id="intro">Background of this project</h2>
        <p>
            Bias in the distribution of public resource, especially vaccine, has long been a serious problem in different communities around the world.
            However, not until the rollout of Covid-19 vaccine, which could be considered to be one of the most crucial plans in the year of 2020, did people
            recognize the consequences of <b>unfairness in allocating vaccine doses to different groups of demographics</b>, a product of the systemic racism that has been happening over the last century.
        </p>
        <p> Below are some examples that illustrate how inequalities exist in Covid-19 vaccine distribution.</p>
        <ul class="moredetail">
            <li>
                Even though <b>"Black and Latino people in New York City have died from Covid-19 at twice the rate of White New Yorkers"</b>, data on vaccine distribution in January 2021 
                <b>"shows that New York City has vaccinated more nonresidents than it has Black, Latino and Native American people who live in the five boroughs combined."</b> <a class="source" href="#ref-1">[1]</a>
            </li>
            <li> 
                <b>
                    "Of nearly 300,000 city residents who received one dose and whose race was recorded, about 48 percent were white, 15 percent were Latino, 15 percent were Asian and 11 percent were Black. 
                    Latino and Black residents were underrepresented: The city’s population is roughly 29 percent Latino and 24 percent Black."
                </b> 
                <a class="source" href="#ref-2">[2]</a>
            </li> 
        </ul>
        <p>
            After the 2020-2021 pandemic, a problem similar to the early rollout of COVID-19 Vaccine is happening again: <b>bias in distribution of Monkeypox vaccine</b>, which has been on the rise since the summer of 2022.
            <ul class="moredetail">
                <li><b>"In Colorado, while the White population only accounts for 45% of the cases, they take up to 73% in the vaccinated population" </b><a class="source" href="#ref-3">[3]</a></li>
                <li><b>“And while 70% of cases are in Black men, Black North Carolinians are receiving less than a quarter of the vaccinations”</b> <a class="source" href="#ref-4">[4]</a></li>
            </ul>
        </p>
        <p> And similar cases are happening nationwide.</p>

        <hr>
        <h2>Why do we have to tackle this problem?</h2>
        <p>
            The two cases Covid-19 and Monkeypox vaccine rollout highlight the challenge in <b>helping different groups of civilians (in terms of demographics, income status, etc.) gain equal access to a resource such as vaccine. </b>
        </p>
        <p>
            Efforts in combating this bias has been happening, for example, the Centers for Disease Control and Prevention, or CDC, has announced <b>the Monkeypox Vaccine Equity Pilot Program</b>, a plan developed to <b>"support innovative ways to reach populations most affected by monkeypox that are experiencing monkeypox vaccination disparities, such as Black/African American and Hispanic/Latino gay, bisexual, and other men who have sex with men."</b> <a class="source" href="#ref-5">[5]</a> 
        </p>
        <p>
            In the long term, not only can the bias in vaccine distribution <b>cause a heavy loss of lives and and wealths among those from the underrepresented groups</b>, but it can also <b> have a significant impact on the local and global economy in many aspects </b> as it has <b> eliminated economic potentials that come from those who were affected. </b> The effects of missing necessary vaccines on one’s health can <b>potentially hinder that person’s ability to contribute to the economy.</b>
        </p>
        <p> Below are some statistical evidences of how the bias in distributing vaccines can potential harm the economy.</p>
        <ul class="moredetail">
            <li><b>“For instance, the wealth gap between American whites and Blacks is projected to cost the US economy between $1 trillion and $1.5 trillion in lost consumption and investment between 2019 and 2028. This translates to a projected GDP penalty of 4 to 6 percent in 2028”</b> <a class="source" href="#ref-6">[6]</a>
                This wealth gap will be likely to increase if the Blacks civilians around the country still do not receive their fair proportion of vaccines and get prevented from working due to health issues.
            </li>
            <li> 
                Moreover, certain industries which employ many people from underrepresented groups such as Blacks or Hispanic/Latinos Americans <a class="source" href="#ref-7">[7]</a> may be heavily damaged and suffer from a downturn in economy due to a shortage in number of workers during and after pandemics.
            </li>
        </ul>

        <hr>
        <h2>How can we solve the problem?</h2>
            <p>We design and implement this web application which utilizes models and algorithms from published research papers that focus on combating <b>the bias is distributing vaccines</b>. The main resource for our product is <b>Equity Promotion in Online Resource Allocation</b><a class="source" href="#ref-8">[8]</a>, a paper which has been successfully tested both theoretically and experimentally to help different groups of requesters receive a fair share of non-profit resources such as vaccines.</p>
            <p>Once users arrive to get vaccinated, our application will try to match them with available vaccine facilities in the <b>“fairest” </b> way.</p>
            <p>We also apply statistical methods on real time data from official websites to make reliable estimation for inputs of the algorithm such as the expected users that will need to be served or the expected number of vaccines that will be administered.</p>
            <p>We choose Monkeypox vaccine in New Jersey as the main theme for our product because it is currently in a great demand where we live. In the future, we can scale our product to support other vaccines such as COVID-19, Flu, etc. among different states in the nation.</p>
        <hr>
        <h2>References</h2>
        <ol>
            <a href="https://www.nytimes.com/2021/02/01/opinion/new-york-covid-vaccine.html"><li id = "ref-1">How New York's Vaccine Program Missed Black and Hispanic Residents</li></a>
            <a href="https://www.nytimes.com/2021/01/31/nyregion/nyc-covid-vaccine-race.html"><li id = "ref-2">Black and Latino New Yorkers Trail White Residents in Vaccine Rollout</li></a>
            <a href="https://cdphe.colorado.gov/diseases-a-to-z/monkeypox"><li id = "ref-3"> Centers for Disease Control and Prevention, Colorado</li></a>
            <a href="https://www.ncdhhs.gov/media/17508/open"><li id = "ref-4"> North Carolina Department of Health and Human Services</li></a>
            <a href="https://www.cdc.gov/poxvirus/monkeypox/health-departments/vaccine-equity-pilot.html"><li id = "ref-5"> Monkeypox Vaccine Equity Pilot Program</li></a>
            <a href="https://www.imf.org/en/Publications/fandd/issues/2020/09/the-economic-cost-of-racism-losavio"><li id = "ref-6">What racism costs us all</li></a>
            <a href="https://www.bls.gov/cps/cpsaat18.htm"><li id = "ref-7">Labor Force Statistics from the Current Population Survey</li></a>
            <a href="https://arxiv.org/abs/2112.04169"><li id = "ref-8">Equity Promotion in Online Resource Allocation</li></a>
        </ol>
    </main>
</body>
</html>